# Telegram
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN"

# OpenAI API Key (dùng fallback nếu cần)
OPENAI_API_KEY=


# payos Config
PAYOS_ENABLED=true
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

PAYOS_RETURN_URL=
PAYOS_CANCEL_URL=
PAYOS_WEBHOOK_URL=

# Owner (optional: to receive kitchen ticket)
OWNER_NAME="Me"
OWNER_PHONE=""
OWNER_ADDRESS="So 11 duong D9, Khu Do Thi Thien An Nguyen, phuong Dong Hoa, TP HCM"
OWNER_TELEGRAM_CHAT_ID=""

